#customSelectDropdown{
    background-color: #1D326C !important;
    color: #fff !important;
    font-weight: 900 !important;
}

#customSelectDropdown option {
    background-color: #fff;
    color: black;
    font-weight: 900 !important;
    padding: 20px;
}

.customMroisDatatable .dlfHg div:first-child {
    overflow: unset !important;
}
.customMroisDatatable.hXLGuA {
    overflow: unset !important;
}

.color1 {
    background-color: #1D326C !important;
    color: #fff !important;
}

.color1 .title {
    color: #fff !important;
}

.color1 .amount {
    color: #fff !important;
}


.color2 {
    background-color: #CC9933 !important;
}

.color2 .title {
    color: #fff !important;
}

.color2 .amount {
    color: #fff !important;
}

.color3 {
    background-color: #667085 !important;
}

.color3 .title {
    color: #fff !important;
}

.color3 .amount {
    color: #fff !important;
}

.color4  {
    background-color: #1b4c43 !important;
}

.color4 .amount {
    color: #fff !important;
}

.color4 .title {
    color: #fff !important;
}

.checkbox-error{
    outline: 2px solid red !important;
    background-color: red !important;
    color: red !important;
}