#customSelectDropdown {
    background-color: #1D326C !important;
    color: #fff !important;
    font-weight: 900 !important;
}

#customSelectDropdown option {
    background-color: #fff;
    color: black;
    font-weight: 900 !important;
    padding: 20px;
}

/* .customMroisDatatable .dlfHg .jPphKt .rdt_Table .rdt_TableBody .rdt_TableRow div:last-child {
    overflow: unset !important;
} */

/* .customMroisDatatable .sc-jsMahE.cKBiPJ.rdt_TableRow:last-child {
    overflow: unset !important;
}  */
.customMroisDatatable .dlfHg div:last-child {
    overflow: unset !important;
}

.customMroisDatatable.hXLGuA {
    overflow: unset !important;
}

.customMroisDatatable .gAfldS div:first-child {
    overflow: visible;
}

.color1 {
    background-color: #1D326C !important;
    color: #fff !important;
}

.color1 .title {
    color: #fff !important;
}

.color1 .amount {
    color: #fff !important;
}


.color2 {
    background-color: #CC9933 !important;
}

.color2 .title {
    color: #fff !important;
}

.color2 .amount {
    color: #fff !important;
}

.color3 {
    background-color: #667085 !important;
}

.color3 .title {
    color: #fff !important;
}

.color3 .amount {
    color: #fff !important;
}

.color4 {
    background-color: #1b4c43 !important;
}

.color4 .amount {
    color: #fff !important;
}

.color4 .title {
    color: #fff !important;
}

.checkbox-error {
    outline: 2px solid red !important;
    background-color: red !important;
    color: red !important;
}

.nk-menu-sub .nk-menu-link:hover {
    color: #cc9933 !important;
}

article {
    display: flex;
    flex-wrap: wrap;
}

article label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    min-width: 60px;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    border: 2px solid #1D326C;
}

input[type=checkbox]:checked~label {
    background-color: #1D326C;
    color: #fff;
}

article input {
    display: none !important;
}

.rdt_TableHeadRow {
    background: #1D326C !important;
}

.sc-fbJfA.hcgwbo {
    color: #fff !important;
}

/* .dropdown-menu {
    background-color: #CC9933 !important;
    color: #fff;
} */

span.asc.__rdt_custom_sort_icon__ {
    color: #fff !important;
}

/* .link-list-opt a {
    color: #fff !important;
}

.link-list-opt a:hover {
    color: #1D326C !important;
} */

.zeroMarginBottom {
    margin-bottom: 0px;
}


.customMroisDatatable .bRaWwA {
    color: #fff !important;
}

.react-datepicker-popper {
    z-index: 99 !important;
}

#form-control {
        display: block;
    width: 100%;
    padding: 0.4375rem 1rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4d62;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dbdfea;
    appearance: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}